/*div {
  border: 2px solid red;
}*/

* {
  font-family: "funnel sans";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(218, 239, 254);
  margin: 0;
  overflow: hidden;
}

.calculator {
  background-color: rgb(23, 24, 26);
  width: 340px;
  height: 90vh;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-shadow: 15px 0px 50px rgb(69, 171, 245);
  align-items: stretch;
}

.display {
  margin: 100px 0px 100px;
  height: 125px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
}

.display #input {
  /*border: 2px solid red;*/
  margin: 0;
  color: white;
  font-size: 50px;
}

.display #equation {
  margin: 10px 0;
  /*border: 2px solid red;*/
  color: grey;
}

.disp-btns {
  margin: 0 0 10px 0;
  display: flex;
  min-height: 50px;
}

.disp-btns button {
  background-color: rgb(97, 97, 97);
  color: rgb(165, 165, 165);
  border-radius: 15px;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 5px 5px;
}

.btns {
  margin: 0px 0px 25px;
  height: 350px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}
.btns button {
  height: 100%;
  /*max-height: 65px;*/
  max-width: 100%;
  margin: 5px 5px;
  border-radius: 15px;
  border: none;
  font-size: 40px;
  font-weight: 500;
  background-color: rgb(48, 49, 54);
  color: rgb(57, 184, 255);
}
