div {
  border: 2px solid red;
}

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.calculator {
  background-color: rgb(24, 24, 30);
  height: 95vh;
  width: 375px;
  border-radius: 15px;
}

.display {
  margin: 100px 25px 25px;
  height: 125px;
}

.btns {
  margin: 75px 25px 25px;
  height: 350px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
